#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.books {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.docs {
  width: 640px
}
